<a href="https://colab.research.google.com/github/IndraWijaya2/2025_PBO_TI1A/blob/main/Jobsheet_01_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Jobsheet 1 - Dasar Bahasa Pemrograman Python**

In [ ]:
# 1. Number (int, float, complex)
# Integer (int)
angka_int = 10
print("angka_int =", angka_int, "->", type(angka_int))

# Float
angka_float = 3.14
print("angka_float =", angka_float, "->", type(angka_float))

# Complex
angka_complex = 2 + 3j
print("angka_complex =", angka_complex, "->", type(angka_complex))

# 2. Boolean
is_active = True
print("is_active =", is_active, "->", type(is_active))

# 3. String
teks = "Hello, Python!"
print("teks =", teks, "->", type(teks))

# 4. List
# List adalah tipe data terurut dan dapat diubah (mutable)
daftar_angka = [1, 2, 3, 4, 5]
print("daftar_angka =", daftar_angka, "->", type(daftar_angka))

# 5. Tuple
# Tuple adalah tipe data terurut tetapi tidak dapat diubah (immutable) oordinat = (10, 20)
print("koordinat =", koordinat, "->", type(koordinat))

# 6. Dictionary
# Dictionary menyimpan data dalam pasangan key-value
data_mahasiswa = {
     "nama": "Andi",
     "nim": "A11.2022.12345",
     "jurusan": "Teknik Informatika"
 }
print("data_mahasiswa =", data_mahasiswa, "->", type(data_mahasiswa))
# 7. Set
# Set adalah tipe data yang tidak terurut,
himpunan_angka = {1, 2, 3, 2, 1}
print("himpunan_angka =", himpunan_angka, "->", type(himpunan_angka))

# 8. Contoh penggunaan konversi tipe data
nilai_str = "100"
print("\nnilai_str =", nilai_str, "->", type(nilai_str))
nilai_int = int(nilai_str)  # konversi string ke integer
print("nilai_int =", nilai_int, "->", type(nilai_int))

angka_int = 10 -> <class 'int'>
angka_float = 3.14 -> <class 'float'>
angka_complex = (2+3j) -> <class 'complex'>
is_active = True -> <class 'bool'>
teks = Hello, Python! -> <class 'str'>
daftar_angka = [1, 2, 3, 4, 5] -> <class 'list'>
koordinat = (10, 20) -> <class 'tuple'>
data_mahasiswa = {'nama': 'Andi', 'nim': 'A11.2022.12345', 'jurusan': 'Teknik Informatika'} -> <class 'dict'>
himpunan_angka = {1, 2, 3} -> <class 'set'>

nilai_str = 100 -> <class 'str'>
nilai_int = 100 -> <class 'int'>

In [ ]:
# Variable dan Operasi dasar
# 1. Pendeklarasian Variabel
nama = "Budi"
umur = 20
tinggi = 170.5
is_student = True

print("Nama =", nama)
print("Umur =", umur)
print("Tinggi =", tinggi, "cm")
print("Mahasiswa =", is_student)

# 2. Operasi Aritmetika
a = 10
b = 3
penjumlahan = a + b
pengurangan = a - b
perkalian = a * b
pembagian_bulat = a // b
pembagian = a/b
modulus = a % b
pangkat = a ** b
print("\nOPERASI ARITMETIKA")
print("a =", a, ", b =", b)
print("Penjumlahan =", penjumlahan)
print("Pengurangan =", pengurangan)
print("Perkalian =", perkalian)
print("Pembagian =", pembagian)
print("Pembagian Bulat =", pembagian_bulat)
print("Modulus =", modulus)
print("Pangkat =", pangkat)

Nama = Budi
Umur = 20
Tinggi = 170.5 cm
Mahasiswa = True

OPERASI ARITMETIKA
a = 10 , b = 3
Penjumlahan = 13
Pengurangan = 7
Perkalian = 30
Pembagian = 3.3333333333333335
Pembagian Bulat = 3
Modulus = 1
Pangkat = 1000

In [6]:
# 1. IF Sederhana
nilai = 85
print("Contoh IF Sederhana:")
if nilai > 80:print("Selamat! Anda lulus dengan nilai tinggi.\n")

# 2. IF-ELSE
umur = 17
print("Contoh IF-ELSE:")
if umur >= 18:print("Anda sudah cukup umur untuk mendapatkan SIM.")
else:print("Anda belum cukup umur untuk mendapatkan SIM.\n")

# 3. IF-ELIF-ELSE
hari = "Rabu"
print("Contoh IF-ELIF-ELSE:")
if hari == "Senin":print("Hari Senin - Saatnya kembali bekerja!")
elif hari == "Selasa":print("Hari Selasa - Jadwal rapat mingguan.")
elif hari == "Rabu":print("Hari Rabu - Ada diskon di beberapa toko.")
else:print("Hari lainnya - Atur jadwalmu dengan baik.\n")

# 4. IF Bersarang (Nested IF)
suhu = 35
print("Contoh IF Bersarang (Nested IF):")
if suhu > 30:
    print("Cuaca cukup panas.")
    if suhu > 40:
       print("Bahkan sangat terik! Disarankan banyak minum air.")
    else:
        print("Masih relatif normal, tapi tetap jaga kesehatan.")
else:
    print("Cuaca sepertinya cukup sejuk.\n")

# 5. Menggabungkan Percabangan dengan Operasi Logika
nilai_teori = 75
nilai_praktik = 80
print("Contoh IF dengan Operasi Logika AND/OR:")
if nilai_teori >= 70 and nilai_praktik >= 70:print("Anda lulus karena nilai teori dan praktik memadai.")
elif nilai_teori < 70 and nilai_praktik < 70:print("Anda perlu meningkatkan nilai teori dan praktik.")
elif nilai_teori < 70:print("Anda perlu meningkatkan nilai teori.")
else:print("Anda perlu meningkatkan nilai praktik.\n")

# 6. Penggunaan If Ternary (atau Conditional Expression)
angka = -5
print("Contoh If Ternary (Conditional Expression):")
status = "Positif" if angka > 0 else "Negatif atau Nol"
print("Angka =", angka, "=>", status)

Contoh IF Sederhana:
Selamat! Anda lulus dengan nilai tinggi.

Contoh IF-ELSE:
Anda belum cukup umur untuk mendapatkan SIM.

Contoh IF-ELIF-ELSE:
Hari Rabu - Ada diskon di beberapa toko.
Contoh IF Bersarang (Nested IF):
Cuaca cukup panas.
Masih relatif normal, tapi tetap jaga kesehatan.
Contoh IF dengan Operasi Logika AND/OR:
Anda lulus karena nilai teori dan praktik memadai.
Contoh If Ternary (Conditional Expression):
Angka = -5 => Negatif atau Nol

In [8]:
# 1. FOR Loop dengan range()
print("1) FOR loop dengan range()")
for i in range(5):
    print("Perulangan ke-", i)
print()

# 2. FOR Loop untuk mengiterasi List
print("2) FOR loop mengiterasi list")
buah = ["apel", "mangga", "jeruk", "pisang"]
for item in buah:
    print("Buah:", item)
print()

# 3. WHILE Loop
print("3) WHILE loop sederhana")
count = 0
while count < 5:
    print("count =", count)
    count += 1  # increment
print()

# 4. BREAK pada Loop
print("4) BREAK di dalam loop")
for i in range(10):
    if i == 3:
        print("Loop dihentikan pada i =", i)
        break
print("i =", i)
print()

# 5. CONTINUE pada Loop
print("5) CONTINUE di dalam loop")
for i in range(5):
    if i == 2:
        print("Lewati i =", i, "dengan continue")
        continue
    print("i =", i)
print()

# 6. NESTED Loop (Loop Bersarang)
print("6) NESTED loop")
for i in range(3):
    for j in range(2):
        print(f"i={i}, j={j}")
print()

# 7. Memanfaatkan ELSE pada Loop
print("7) ELSE pada loop for/while")
for x in range(3):
    print("x =", x)
else:
    print("Loop for telah selesai tanpa break.\n")

y = 0
while y < 3:
    print("y =", y)
    y += 1
else:
    print("Loop while telah selesai tanpa break.\n")

# 8. PASS sebagai placeholder
print("8) PASS (placeholder)")
for i in range(3):
    if i == 1:
        pass
    print("i =", i)

1) FOR loop dengan range()
Perulangan ke- 0
Perulangan ke- 1
Perulangan ke- 2
Perulangan ke- 3
Perulangan ke- 4

2) FOR loop mengiterasi list
Buah: apel
Buah: mangga
Buah: jeruk
Buah: pisang

3) WHILE loop sederhana
count = 0
count = 1
count = 2
count = 3
count = 4

4) BREAK di dalam loop
Loop dihentikan pada i = 3
i = 3

5) CONTINUE di dalam loop
i = 0
i = 1
Lewati i = 2 dengan continue
i = 3
i = 4

6) NESTED loop
i=0, j=0
i=0, j=1
i=1, j=0
i=1, j=1
i=2, j=0
i=2, j=1

7) ELSE pada loop for/while
x = 0
x = 1
x = 2
Loop for telah selesai tanpa break.

y = 0
y = 1
y = 2
Loop while telah selesai tanpa break.

8) PASS (placeholder)
i = 0
i = 1
i = 2