<a href="https://colab.research.google.com/github/IndraWijaya2/2025_PBO_TI1A/blob/main/Jobsheet_01_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Jobsheet 1 - Dasar Bahasa Pemrograman Python**

In [5]:
# 1. Number (int, float, complex)
# Integer (int)
angka_int = 10
print("angka_int =", angka_int, "->", type(angka_int))

# Float
angka_float = 3.14
print("angka_float =", angka_float, "->", type(angka_float))

# Complex
angka_complex = 2 + 3j
print("angka_complex =", angka_complex, "->", type(angka_complex))

# 2. Boolean
is_active = True
print("is_active =", is_active, "->", type(is_active))

# 3. String
teks = "Hello, Python!"
print("teks =", teks, "->", type(teks))

# 4. List
# List adalah tipe data terurut dan dapat diubah (mutable)
daftar_angka = [1, 2, 3, 4, 5]
print("daftar_angka =", daftar_angka, "->", type(daftar_angka))

# 5. Tuple
# Tuple adalah tipe data terurut tetapi tidak dapat diubah (immutable) oordinat = (10, 20)
print("koordinat =", koordinat, "->", type(koordinat))

# 6. Dictionary
# Dictionary menyimpan data dalam pasangan key-value
data_mahasiswa = {
     "nama": "Andi",
     "nim": "A11.2022.12345",
     "jurusan": "Teknik Informatika"
 }
print("data_mahasiswa =", data_mahasiswa, "->", type(data_mahasiswa))
# 7. Set
# Set adalah tipe data yang tidak terurut,
himpunan_angka = {1, 2, 3, 2, 1}
print("himpunan_angka =", himpunan_angka, "->", type(himpunan_angka))

# 8. Contoh penggunaan konversi tipe data
nilai_str = "100"
print("\nnilai_str =", nilai_str, "->", type(nilai_str))
nilai_int = int(nilai_str)  # konversi string ke integer
print("nilai_int =", nilai_int, "->", type(nilai_int))

angka_int = 10 -> <class 'int'>
angka_float = 3.14 -> <class 'float'>
angka_complex = (2+3j) -> <class 'complex'>
is_active = True -> <class 'bool'>
teks = Hello, Python! -> <class 'str'>
daftar_angka = [1, 2, 3, 4, 5] -> <class 'list'>
koordinat = (10, 20) -> <class 'tuple'>
data_mahasiswa = {'nama': 'Andi', 'nim': 'A11.2022.12345', 'jurusan': 'Teknik Informatika'} -> <class 'dict'>
himpunan_angka = {1, 2, 3} -> <class 'set'>

nilai_str = 100 -> <class 'str'>
nilai_int = 100 -> <class 'int'>

In [3]:
# Variable dan Operasi dasar
# 1. Pendeklarasian Variabel
nama = "Budi"
umur = 20
tinggi = 170.5
is_student = True

print("Nama =", nama)
print("Umur =", umur)
print("Tinggi =", tinggi, "cm")
print("Mahasiswa =", is_student)

# 2. Operasi Aritmetika
a = 10
b = 3
penjumlahan = a + b
pengurangan = a - b
perkalian = a * b
pembagian_bulat = a // b
pembagian = a/b
modulus = a % b
pangkat = a ** b
print("\nOPERASI ARITMETIKA")
print("a =", a, ", b =", b)
print("Penjumlahan =", penjumlahan)
print("Pengurangan =", pengurangan)
print("Perkalian =", perkalian)
print("Pembagian =", pembagian)
print("Pembagian Bulat =", pembagian_bulat)
print("Modulus =", modulus)
print("Pangkat =", pangkat)

Nama = Budi
Umur = 20
Tinggi = 170.5 cm
Mahasiswa = True

OPERASI ARITMETIKA
a = 10 , b = 3
Penjumlahan = 13
Pengurangan = 7
Perkalian = 30
Pembagian = 3.3333333333333335
Pembagian Bulat = 3
Modulus = 1
Pangkat = 1000